@model UserModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile:</h1>
<div>

    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    @Model.UserName
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>

            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>

            <tr>
                <td>
                    Profile Picture:
                </td>
                <td>
                    <img src="@Model.profilepic" style="border:3px solid black; border-radius: 50px;" width="250" height="250" />
                </td>
            </tr>
        </tbody>

    </table>


    
        
   
</div>
<h1>Your Articles: </h1>


<div class="row">
    @foreach (var obj in ViewBag.Articles)
    {
        <div class="col-lg-2 col-lg-4 col-md-6 col-xs-12 p-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <a asp-controller="Liberary" asp-action="ViewContent" asp-route-id="@obj.Id">
                            <img src="@obj.ImgPath" class="img-fluid" style="height: 250px;" alt="@obj.ArticleName" />
                            <div class="text-primary text-center">
                                <h5>@obj.ArticleName</h5>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>