@model UserModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile:</h1>
<div>

    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>
                    User Name
                </th>
                <th>
                    @Model.UserName
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    @Model.Email
                </td>
            </tr>

            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    @Model.PhoneNumber
                </td>
            </tr>

            <tr>
                <td>
                    Profile Picture:
                </td>
                <td>
                    <img src="@Model.profilepic" style="border:3px solid black; border-radius: 50px;" width="250" height="250" />
                </td>
            </tr>
        </tbody>

    </table>


    
        
   
</div>
<h1>Articles: </h1>

<div class=" row">
    @foreach (var obj in ViewBag.Articles)
    {
        <div class="container col-4 p-4" style="max-height:500px">
            <a asp-controller="Liberary" asp-action="ViewContent" asp-route-id="@obj.Id">
                <img src="@obj.ImgPath" class="img-responsive" style="width:100%;height:100%; object-fit:contain" />
                <div width="200px" class="text-primary align-content-center align-items-center justify-content-center d-flex ">
                    <p class=""> @obj.ArticleName</p>
                </div>
            </a>
        </div>
    }
</div>