@model Libraries

<div class="container p-3">

	<div class="row">
		<img src="@Model.ImgPath" class="img-thumbnail " />

	</div>
	<div class="row p-1">
		<h2 class="text-primary">@Model.ArticleName</h2>
		<p class="text-opacity-75 text-secondary">Published by:  @Model.UserName</p>
		<p class="text-opacity-75 text-secondary">Date Published:  @Model.CreatedTime</p>

		<hr />
	</div>
		

	<div class="row">
		<p class="text-secondary">
			@Html.Raw(Model.Description)
		</p>
	</div>

	<div>

	</div>

</div>
